@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popAndFade {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(20px);
  }
  20% {
    opacity: 1;
    transform: scale(1.2) translateY(0);
  }
  40% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.5;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateY(-10px);
  }
}

@keyframes float {
  0% {
    transform: translate(var(--tx-start), 100vh) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    transform: translate(var(--tx-end), -100vh) rotate(360deg);
    opacity: 0;
  }
}